body {
  background-color: #242538;
  font-family: Helvetica;
  color: #f0f0f5;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 5px solid #242538;
  border-radius: 20px;

  overflow: hidden;
}

.main h1 {
  background-color: #1b1c2e;
  display: block;
  font-size: 2em;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.content {
  background-color: #b6b6cc;
  width: min(90vw, 80vh);
  height: min(90vw, 80vh);
  padding: 10px;
}

/* place your styles below */

* {
  box-sizing: border-box;
}

button {
  all: unset;
  background-color: #1b1c2e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f5;
  color: #1b1c2e;
  transition: all, .2s;
}

.tile {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tile h3 {
  display: inline-block;
  margin: 10px 0;
}

.tile p {
  margin: 0;
}

.verticalSplitter {
  flex-direction: row;
}

.horizontalSplitter {
  flex-direction: column;
}